.container {
}

.songs {
}

.parentScrollBlock {
  overflow: auto;
  scrollbar-width: none;
  height: calc(100vh - 150px);
}

.parentScrollBlock::-webkit-scrollbar {
  display: none;
}

.musicTabButton {
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.active {
  background-color: #bdbdbd;
}

.buttonContainer {
  display: flex;
}
