.songContainer {
  margin: 10px 10px 0 10px;
  display: flex;
  transition: all 0.1s ease;
  height: 60px; /* Фиксируем высоту здесь */
  border-radius: 6px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  height: 100%; /* Занимает всю высоту контейнера */
}

.songArtistName {
  color: #717171;
  font-size: 14px;
}

.songTitle {
  font-size: 17px;
}

.addButton {
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.addSongWrapper {
  display: flex;
  align-items: center;
}

.addSongIcon {
  opacity: 1;
  margin: 0 25px 0 10px;
}

.addButton:hover{

}

.wrapper {
  display: flex;
}

.coverContainer {
  margin: 0 0 0 7px;
  position: relative;
  display: flex;
  align-items: center;
}
.coverPic {
  height: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
}
.playerIcon {
  display: none;
  aspect-ratio: 1 / 1;
  height: 90%;
  position: absolute;
  transition: transform 0.1s ease-out;
}

.songContainer:hover .playerIcon{
  display: block;
}

.songContainer:hover .coverPic{
  filter: brightness(0.3);
}

.songContainer:hover {
  background-color: #e6e6e6;
}

.songContainer:active .playerIcon {
  transform: scale(0.90);
}

.titleContainer {
  margin-left: 7px;
  display: flex;
  height: 65%;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}