.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b2b2b2;
  background-image: url("../../assets/images/messages_bg.jpeg");
  height: 100%;
  background-size: cover;
}

.parentScrollBlock {
  height: calc(100vh - 126px);
  overflow-y: auto;
  min-height: 0;
  margin: 0 10px 0 10px;
}

.sendBlock {
  flex-shrink: 0;
}

.messagesContainer {
  scrollbar-width: none;
}