.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b2b2b2;
  background-image: url("../../assets/images/messages_bg.jpeg");
  height: 100%;
  background-size: cover;
}

.sendBlock {

}